<body >
    <div class="navbar navbar-default"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CurioCity </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right  ">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- NAVBAR CODE END -->
    <div class="container" >
        <div class="row">
                <div class="col-md-12 text-center">
                    <h2>CurioCity Profile Questions</h2>

                   
                    <br />
                    <br />
                    
                </div>
            </div>
         <!-- USER PROFILE ROW STARTS-->
            <div class="row">
                <div class="col-md-3 col-sm-3">
                                       
                    <div class="user-wrapper">
                        <div id = "MyCarousel" class = "carousel" >
                            <ol class = "carousel-indicators">
                                 <li data-target = "#MyCarousel" data-slide-to ="0" class = "active"></li>    
                                 <li data-target = "#MyCarousel" data-slide-to ="1"></li>   
                            </oL> 

                            <div class = "carousel-inner">

                                <div class = "item active">
                                   <img src="http://i.imgur.com/zbK79rM.jpg" class="img-responsive" size = 110%/> 
                                </div>

                                <div class = "item">
                                   <img src="http://i.imgur.com/8B62MpO.jpg" class="img-responsive" /> 
                                </div>
                            </div>
                        </div>





                    <div class="description">
                       <h4> Joanne Greeley </h4>
                        <h5> <strong> Construction Electrician @ </strong></h5>
                        <p>
                            Red Seal; Construction Business Owner 
                        </p>
                        <hr />
                        <h5> <strong> Background Information </strong> </h5>
                                             <p>
                          Through my construction business, I do electrical work related to house renovations – rewiring when necessary, changing household heating parts, switches and lighting.  I specialize in hanging and wiring chandeliers.  
                    </p>
                    </div>
                     </div>
                </div>
                
                <div class="col-md-9 col-sm-9  user-wrapper">
                    <div class="description">
                         <h3> Joanne Greeley's Profile : </h3>
                    <hr />

                        <div class="row">
                              <div class="col-md-6">
                                <ul>
                            <li><h2> Background information: </h2></li>
                                <ul>
                                    <li>I was born/grew up in <b> Topsail, Conception Bay South, NL </b></li>
                                    <li>I now live in <b> St. John’s, NL </b></li>
                                    <li>I completed my training/education at <b> Academy Canada and College of the North Atlantic</b>, St. John’s.</li>
                                </ul>   
                            </li>   
                        </ul>
                              </div>
                              <div class="col-md-6">
                                 <div class="row">
                                    <h2> When I was a student I enjoyed: </h2>
                                    <div  class="col-md-6">
                                    <fieldset>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" >
                                            <label for="checkbox1">
                                                Art
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" checked="checked">
                                            <label for="checkbox2">
                                                Drama
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" checked="checked">
                                            <label for="checkbox3">
                                                Foods and Nutrition
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" checked="checked">
                                            <label for="checkbox4">
                                                Geography 
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" checked="checked">
                                            <label for="checkbox5">
                                                Industrial Arts/Shop Programs
                                            </label>
                                        </div>
                                    </fieldset>
                                    </div>
                                    <div  class="col-md-6">
                                       <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" >
                                            <label for="checkbox6">
                                            Math
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" >
                                            <label for="checkbox6">
                                            Physical Education/Health 
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" >
                                            <label for="checkbox6">
                                            Science
                                            </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox1" type="checkbox" disabled="disabled" checked="checked">
                                            <label for="checkbox6">
                                            Technology
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                
                              </div>
                                 </div>                             
                            </div>

                       
                    <h3> Describe what you do at work </h3>
						<p>When I am working on jobs under contract, our supervisor will complete a safety toolbox talk before we start work for the day. The supervisor/contractor will then assign tasks. Depending on the task assigned I will use a variety of math and estimation skills, particularly when something has to be installed in a certain space. Often I engage in a lot of problem solving as I figure out how to install the item in a particular location. This may require I use some carpentry skills. I also have to make sure the electrical components are installed according to the safety codes. </p>

						<p>Sometimes I’m asked to try to repair some items such as electrical motors or heaters. This will often require me to consult the manual as I investigate the problem. Often I engage in problem solving to find out why the item is not working. Then I have to decide what can be fixed and what needs to be replaced. I use circuit testers and voltmeters regularly. My STEM training allows me to identify potential safety hazards and correct them before they cause problems. My training also allows me to identify the correct types of heaters, lights, and other electrical devices that need to be installed to meet safety codes and to satisfy the wants and needs of my customers.</p>
                    <hr />  

                    <h3> Describe your career path to this career</h3>    
                        <p>I did not set out with being an electrician in mind. In fact I really didn’t know what I wanted to do. When I graduated high school I worked in an office without any specific career path. Later, as an adult I decided that I wanted to do something more with my life. I went back to school as an adult student. This was very challenging as I had to relearn a lot of the basic things that you have when you graduate high school. I also had to relearn how to take notes, study for tests, and complete my assignments on time. </p>

                        <p>Because I like solving problems and working with my hands I wanted to do a skilled trades program. My father is an electrician so I thought I’d give that a try but I still did not have any real plans for how to use this trade. Through my training, apprenticeship and later work experience I got to work on industrial sites, then on wiring houses, and finally on commercial or business projects. These experiences gave me great flexibility on how to apply my skills as an electrician as I am qualified to work on jobs in any of these three areas. It also gave me the confidence to start my own business where I can combine my electrician’s skills with my artistic interests and help people create beauty in their home through lighting components.  </p>
                    <hr />  
                    <h3> What advice or encouragement would you give others seeking a similar career? </h3>
                        <p> If you are interested in a career where you work with your hands, engage in problem solving, and where your work situation will change from day to day, the career of electrician could be for you. The program is challenging but once you finished the opportunities for growth and advancement are almost unlimited. </p>
                    <hr />       
                   
                    </div>
                 
                </div>
            </div>
           <!-- USER PROFILE ROW END-->
    </div>
    <!-- CONATINER END -->
    <!-- REQUIRED SCRIPTS FILES -->
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
</body>
